node_modules
package-lock.json

assets/image/zarbalatrax/special
assets/image/zarbalatrax/content/**
!assets/image/zarbalatrax/content/001.png

assets/sound/**
!assets/sound/001.wav

data/*
!data/example-data.json
ZarbData.h
data.json

tests/logs