html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

div.help {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 50%;
  background-color: rgba(24, 25, 28, 0);
  color: white;
  font: 18px Georgia;
  padding: 1em;
  line-height: 1em;
  display:none;
  border-radius: 1em;
}

table.help {
  margin: auto;
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  border-spacing: 0
}

td input {
  height: 100%
}

.help tr:first-child {
  background-color: rgb(24, 25, 28);
}

.help tr:first-child td {
  height: 0.8em;
}

.help tr:nth-child(even) {
  background-color: rgb(55, 57, 62);
}

.help tr:nth-child(odd) {
  background-color: rgb(59, 61, 67);
}

.help td {
  color: white;;
  padding: 0.5em;
}

.help td:nth-child(odd) {
  font-variant: small-caps;
}