/* todo: use sass! */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

div#help, div#upload {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  color: white;
  font: 18px Georgia;
  padding: 1em;
  line-height: 1em;
  display:none;
  border-radius: 1em;
}

div#help {
  background-color: rgba(24, 25, 28, 0);
  height: 50%;
}

div#upload {
  background-color: rgba(24, 25, 28);
  height: fit-content;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: calc(20%);
  font: 1vw Georgia;
  color: #fff;
}

.button:focus, .button:active {
  outline: none;
}

.button:hover {
  background-color: rgb(24, 25, 28) !important;
  color: #fff;
}

table.help {
  margin: auto;
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
}

td input {
  height: 100%
}

.help tr:first-child {
  background-color: rgb(24, 25, 28);
}

.help tr:first-child td {
  height: 0.8em;
}

.help tr:nth-child(even) {
  background-color: rgb(55, 57, 62);
}

.help tr:nth-child(odd) {
  background-color: rgb(59, 61, 67);
}

.help td {
  color: white;;
  padding: 0.5em;
}

.help tr:nth-child(even) td {
  border: 3px solid rgb(55, 57, 62);
}

.help tr:nth-child(odd) td {
  border: 3px solid rgb(59, 61, 67);
}

.help td:nth-child(odd) {
  font-variant: small-caps;
}

#upload-yes {
  background-color: #222;
}

#upload-no {
  background-color: #F00;
}

#upload-text {
  display: inline-block
}

#loading-spinner {
  display: none;
  width: 1em;
  height: 1em;
}